body{
	font-size: 14px;
	line-height: 1;
	color: #000000;
	font-weight: bold;
	font-family: "Arial", sans-serif;
}
h1{
	font-size: 21px;
	font-weight: bold;
	line-height: 1.238;
}
h2{
	font-size: 21px;
	font-weight: bold;
	line-height: 1;
}
